.grid-container,.grid-header,.grid-rows,.grid-tree-cell,.grid-group-row,.grid-cell{
  box-sizing: border-box;
}
.grid{
  /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
  height:500px;
  overflow:hidden;
  width:100%;
  font-family:inherit;
  position:relative;
  font-size:12px;
  color:#222;
}
.grid:focus{
  outline:none;
}
.grid-container{
  /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
  height:100%;
  overflow:auto;
  width:100%;
  border:0px solid;
  margin:0;
  padding:0;
  position:absolute;
  font-family:inherit;
  display:flex;
  flex-direction:column;
}
.grid-container.rtl{
  direction:rtl;
}
.grid-container .grid-header{
  display:grid;
  font-size:12px;
  position:sticky;
  top:0;
  z-index:10;
  list-style:none;
}


  .grid-header .grid-title{
    height:24px;
    line-height:24px;
    z-index:1;
    cursor: default;
    position: relative;
    white-space: nowrap;
    -webkit-user-select:none;
    user-select:none;
  }
  
  .grid-header .grid-title .move-handle{
    text-align:center;
  }

.grid-rows{
    margin:0;
    position:relative;
    min-width:fit-content;
    display:flex;
    flex-direction:column;
    flex:1;
}
.grid-rows .grid-row{
  display:grid;
  list-style: none;
}

.grid-group-row{
  -webkit-user-select:none;
  user-select:none;
  list-style: none;
  white-space: nowrap;
  width:100%;
  display:flex;
  padding:0 8px;
  align-items: center;
}
.grid-group-row-container{
  width:100%;
  height:24px;
  line-height:24px;
}
.grid-group-row ul{
  padding:0;
  height:24px;
  top:calc(50% - 12px);
  position: relative;
  width:100%;
}

.grid-group-row li{
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
}



.grid-container .grid-checkbox{
  float:left;
  width:24px;
  height:24px;
  display:flex; 
  text-align:center;
  flex-direction: row;
  justify-content:  center;
  align-items: center;
  /* background:red; */
}

.grid-container.rtl .grid-checkbox{
  float:right;
}
.grid-checkbox input{
  position:relative;
}
  .grid-rows .grid-row .grid-cell{
    position:relative;
    white-space: nowrap;
    padding:0 8px;
  }
  .grid-rows .grid-row .grid-cell:focus{
    outline:none;
  }
  .grid-rows .grid-row .grid-cell.grid-cell-text{
    text-align:center;
    -webkit-user-select:none;
    user-select:none;
    text-overflow: ellipsis;
    overflow:hidden;
  }
.grid-tree-cell li{
  display:inline-block;
  list-style:none;
  
}
.grid-cell-checkbox{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  
}
.grid-cell-checkbox input{
  position:relative;
}
.grid-cell.selected,.grid-group-row.selected{
  box-shadow:inset 0px 0px 0px 2px rgb(68, 68, 255);
  border-radius:1px;
}
.grid-row.actived .grid-cell{
}

.grid-container .grid-tree-cell{
  left:0;
  width:100%;
  height:24px;
  line-height:24px;
  overflow:hidden;
  position:relative;
  white-space: nowrap;
  display:flex;
  margin:0;
  top:calc(50% - 12px);
}
.grid-container.rtl .grid-tree-cell{
  left:unset;
  right:0;
}


.grid-container .grid-toggle-icon{
  width:20px;
  height:24px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  float:left;
  cursor:pointer;
  /* background:pink; */
}
.grid-container.rtl .grid-toggle-icon{
  float:right;
}
.grid-container .grid-icon{
  width:20px;
  height:24px;
  font-size:12px;
  line-height:24px;
  text-align: center;
  float:left;
}
.grid-container.rtl .grid-icon{
  float:right;
}


.grid-container .grid-text{
  flex:1;
  height:24px;
  line-height:24px;
  padding:0 4px;
  overflow:hidden;
  text-overflow: ellipsis;
  /* background:yellow; */
}

.grid-container .grid-toggle-icon:after{
  margin-top:3px;
  font-size:9px;
}
.grid-container .grid-toggle-icon.opened:after{
    content:'\25BC	';
    transform: scaleX(1.5);
  
  }
.grid-container .grid-toggle-icon.closed:after{
  content:'\25BA';
  transform: scaleY(1.5);
  
}
.grid-container.rtl .grid-toggle-icon.closed:after{
  content:'\25C0';
}

.grid-container .resize-handle{
  background:#ddd;
  width:6px;
  height:100%;
  position:absolute;
  left:calc(100% - 6px);
  top:0;
  border-radius:30px;
  opacity:0;
  cursor: col-resize;
}

.grid-container.rtl .resize-handle{
  left:unset;
  right:calc(100% - 6px);
}

.grid-container .move-handle{
  width:calc(100% - 16px);
  position:absolute;
  left:16px;
  height:100%;
  top:0;
  cursor:move;
}

.grid-container.rtl .move-handle{
  left:unset;
  right:16px;
}

.grid-title-shadow{
  position:fixed;
  height:30px;
  line-height:30px;
  text-align: center;
  opacity:.9;
}

.grid-container .column-setting{
  width:16px;
  height:24px;
  left:0;
  top:calc(50% - 12px);
  position:absolute;
  text-align:center;
  line-height:24px;
  cursor:pointer;
  opacity:.5;
  margin:0 8px
}
.grid-container.rtl .column-setting{
  left:unset;
  right:0;
  top:calc(50% - 12px);
}
.column-setting:after{
  content:'\22EE';
}
.column-popup{
  position:absolute;
  top:100%;
  padding:0;
  padding-right:8px;
  border:1px solid;
  box-shadow:4px 4px 10px 0 rgba(20,20,20,.2);
  margin:0;
  display:none;
}
.column-popup li{
  position:relative;
  list-style:none;
  padding:0 6px;
  z-index:10;
}
.column-popup li:before{
  content:'\2714';
  width:16px;
  display: inline-block;
  text-align:center;
  opacity:0;
}
.column-popup li.checked:before{
  opacity:1;
}
.column-popup .backdrop{
  background: none;
  position:fixed;
  left:0;
  top:0;
  z-index:1;
  width:100%;
  height:100%;
}
 .inline-edit-text{
   position:absolute;
   width:calc(100% - 12px);
   height:20px;
   border:none;
   top:calc(50% - 11px);
   left:6px;
   text-align:center;
   font-size:10px;
   
 }
 .inline-edit-select{
   position:absolute;
   width:calc(100% - 12px);
   height:20px;
   border:none;
   top:calc(50% - 11px);
   left:6px;
   text-align:center;
   font-size:10px;
 }
 .inline-edit-select option{
    padding:8px !important;
    height:50px !important;
    margin:10px;
    font-size:12px;
    
 }

.grid-cell-error{
  position:absolute;
  width:10px;
  height:10px;
  left:5px;
  top:5px;
  background:red;
  font-size:10px;
  color:#fff;
  display:flex;
  justify-content: center;
  align-items:center;
  border:1px solid red;
  border-radius:100%;
}
.grid-cell-error:before{
  content:'\2139';
}
.grid-cell-add{
  display:flex;
  justify-content: center;
  align-items: center;
}
.add-icon{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:12px;
  position:relative;
  width:24px;
  height:24px;
}
.add-icon:after{
  content:'\271a';
}